#global options
workDir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/
genome =  /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/reference/chr.all.v2.0.fasta
genomeCSize = 10000000
genSpOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/reference/split

##protein data
#proteins = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/tair10/TAIR10_pep_20101214_updated
protDir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/data/protein/
protOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/protein
protAligner = exonerate
protChunkNum = 200

exoP = 70
exoMinIntron = 10
exoMaxIntron = 60000
exoHintMinIntron = 10
exoHintMaxIntron = 50000


##RNAseq data
rnaseqDataDir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/data/RNAseq/Cvi
rnaseqOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/RNAseq/hisat2
rnaThread = 20
hisat2index = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/reference/chr.all.v2.0.fasta

##ab initio prediction
abiOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio
augOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio/augustus
gliOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio/glimmer
genOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio/genemark
SNAPOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio/snap

augMSpecies = arabidopsis
augAbConfig = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio/extrinsic.cfg
augHintConfig = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/abinitio/extrinsic.M.RM.E.W.cfg

gliTrainDir = /home/jiao/softwares/genepred/GlimmerHMM/trained_dir/arabidopsis

SNAPhmm = /projects/dep_coupland/grp_schneeberger/bin/SNAP/snap-2013-11-29/HMM/A.thaliana.hmm

##augustus evidence-based integration
EVM_Utils = /projects/dep_coupland/grp_schneeberger/bin/EVM_r2012-06-25/EvmUtils/
EVM_misc = /projects/dep_coupland/grp_schneeberger/bin/EVM_r2012-06-25/EvmUtils/misc
PASAscripts = /projects/dep_coupland/grp_schneeberger/bin/PASA/PASApipeline-2.1.0/scripts
TransDeUtil = /projects/dep_coupland/grp_schneeberger/bin/TransDecoder/TransDecoder-3.0.1/util

evmOutdir = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/EVM_PASA
evmWeight = /srv/netscratch/dep_coupland/grp_schneeberger/projects/AMPRILdenovo/annotation/Cvi/EVM_PASA/evm.weights.txt
evmCmdNum = 100


##EVM + PASA evidence-based integration
